 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 </head>
 <body>
  <div class="jumbotron text-center">
        <img src="favicon.ico">
        <h1>Angular Js</h1>

        <p>{{ message }}</p>
    </div>
    <div class="row">
    	<div class="col-md-3" id="div_home_1">
    	<h3>What Is AngularJS?</h3>
    	<p >
		AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. AngularJS's data binding and dependency injection eliminate much of the code you would otherwise have to write. 
    	</p>
    	</div>
    	<div class="col-md-3">
    	  <h3>Why AngularJS?</h3>
    	  <p>
    	  HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
    	  </p>
    		
    	</div>
    	<div class="col-md-3">
    	  <h3>Alternatives</h3>	
    	  <p>
    	  	Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.
    	  </p>
    	</div>
    	<div class="col-md-3">
    	  <h3>Extensibility</h3>
    	  <p>
    	  	AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.
    	  </p>	
    	</div>
    </div>
 </body>
 </html>
  